<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="profile">
        <div class="row mx-3" id="profile">

            <div class="col-md-12">

                <div class="text-center" id="profile-main">
                    <h1 class="springnote-color-light_brown springnote-fonts-shadows">Jun-ser Hwang</h1>
                    <hr>
                    <p class="springnote-fonts-shadows fs-2 my-5 ">" No Silver Bullet "</p>
                    <p class="springnote-fonts-line-seed-thin md-2">모든걸 한번에 해결할 수 있는 해결책은 없다는 말에 명심하며, 항상 다양한 해결책을 찾고자 노력하고, 배우는 Backend 개발자를 목표로 공부하고 있는 대학생입니다.</p>
                    <hr>
                </div>

                <div class="text-left" id="profile-items">
                    <p class="springnote-fonts-line-seed-reg"><i class="fa-solid fa-school springnote-color-light_brown"></i> Hanyang University, ERICA Campus</p>
                    <p class="springnote-fonts-line-seed-reg"><i class="fa-solid fa-book springnote-color-light_brown"></i> Department of artificial intelligence</p>
                    <p class="springnote-fonts-line-seed-reg"><i class="fa-solid fa-envelope springnote-color-light_brown"></i> hzser123@gmail.com</p>
                    <a href="https://github.com/hrabit64" class="springnote-clean-a springnote-fonts-line-seed-reg"><i class="fa-brands fa-github springnote-color-light_brown"></i> hrabit64</a>
                </div>

            </div>

        </div>
    </th:block>
</body>

</html>