<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/header.html :: head" />

<body class="springnote-color-black-background">

<div class="container-fluid">
    <div class="row px-4 pt-5 mu-lg-5 mx-md-5" id="main-title">

        <div class="col-md-12">

            <div class="jumbotron jumbotron-fluid">

                <p class="text-center springnote-fonts-shadows springnote-title springnote-color-light_brown">Spring Note</p>

            </div>

        </div>

        <div class="col-md-12 my-5">
            <th:block th:replace="fragments/nav.html :: nav" />
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://cdn.pixabay.com/photo/2022/01/08/19/51/christmas-tree-6924746__340.jpg" class="card-image springnote-img-thumbnail springnote-img-thumbnail-mini rounded" alt="...">
                <div class="card-img-overlay">
                    <p class="card-text"><small class="text-muted">2022-12-30</small></p>
                    <h6 class="card-title springnote-color-light_brown springnote-fonts-line-seed-thin rounded">시리즈 | Spring Note 개발 일지</h6>
                    <hr>
                    <h5 class="card-title springnote-fonts-line-seed-reg">제목이 50자까지 입력가능한데 이 50자를 정말 채울지가 의문이요 제목을 언제 다 채우냐 이거 너무 길다</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://cdn.pixabay.com/photo/2022/01/08/19/51/christmas-tree-6924746__340.jpg" class="card-image springnote-img-thumbnail springnote-img-thumbnail-mini rounded" alt="...">
                <div class="card-img-overlay">
                    <p class="card-text"><small class="text-muted">2022-12-30</small></p>
                    <h6 class="card-title springnote-color-light_brown springnote-fonts-line-seed-thin rounded">시리즈 | Spring Note 개발 일지</h6>
                    <hr>
                    <h5 class="card-title springnote-fonts-line-seed-reg">제목이 50자까지 입력가능한데 이 50자를 정말 채울지가 의문이요 제목을 언제 다 채우냐 이거 너무 길다</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://cdn.pixabay.com/photo/2022/01/08/19/51/christmas-tree-6924746__340.jpg" class="card-image springnote-img-thumbnail springnote-img-thumbnail-mini rounded" alt="...">
                <div class="card-img-overlay">
                    <p class="card-text"><small class="text-muted">2022-12-30</small></p>
                    <h6 class="card-title springnote-color-light_brown springnote-fonts-line-seed-thin rounded">시리즈 | Spring Note 개발 일지</h6>
                    <hr>
                    <h5 class="card-title springnote-fonts-line-seed-reg">제목이 50자까지 입력가능한데 이 50자를 정말 채울지가 의문이요 제목을 언제 다 채우냐 이거 너무 길다</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://cdn.pixabay.com/photo/2022/01/08/19/51/christmas-tree-6924746__340.jpg" class="card-image springnote-img-thumbnail springnote-img-thumbnail-mini rounded" alt="...">
                <div class="card-img-overlay">
                    <p class="card-text"><small class="text-muted">2022-12-30</small></p>
                    <h6 class="card-title springnote-color-light_brown springnote-fonts-line-seed-thin rounded">시리즈 | Spring Note 개발 일지</h6>
                    <hr>
                    <h5 class="card-title springnote-fonts-line-seed-reg">제목이 50자까지 입력가능한데 이 50자를 정말 채울지가 의문이요 제목을 언제 다 채우냐 이거 너무 길다</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://cdn.pixabay.com/photo/2022/01/08/19/51/christmas-tree-6924746__340.jpg" class="card-image springnote-img-thumbnail springnote-img-thumbnail-mini rounded" alt="...">
                <div class="card-img-overlay">
                    <p class="card-text"><small class="text-muted">2022-12-30</small></p>
                    <h6 class="card-title springnote-color-light_brown springnote-fonts-line-seed-thin rounded">시리즈 | Spring Note 개발 일지</h6>
                    <hr>
                    <h5 class="card-title springnote-fonts-line-seed-reg">제목이 50자까지 입력가능한데 이 50자를 정말 채울지가 의문이요 제목을 언제 다 채우냐 이거 너무 길다</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://cdn.pixabay.com/photo/2022/01/08/19/51/christmas-tree-6924746__340.jpg" class="card-image springnote-img-thumbnail springnote-img-thumbnail-mini rounded" alt="...">
                <div class="card-img-overlay">
                    <p class="card-text"><small class="text-muted">2022-12-30</small></p>
                    <h6 class="card-title springnote-color-light_brown springnote-fonts-line-seed-thin rounded">시리즈 | Spring Note 개발 일지</h6>
                    <hr>
                    <h5 class="card-title springnote-fonts-line-seed-reg">제목이 50자까지 입력가능한데 이 50자를 정말 채울지가 의문이요 제목을 언제 다 채우냐 이거 너무 길다</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://cdn.pixabay.com/photo/2022/01/08/19/51/christmas-tree-6924746__340.jpg" class="card-image springnote-img-thumbnail springnote-img-thumbnail-mini rounded" alt="...">
                <div class="card-img-overlay">
                    <p class="card-text"><small class="text-muted">2022-12-30</small></p>
                    <h6 class="card-title springnote-color-light_brown springnote-fonts-line-seed-thin rounded">시리즈 | Spring Note 개발 일지</h6>
                    <hr>
                    <h5 class="card-title springnote-fonts-line-seed-reg">제목이 50자까지 입력가능한데 이 50자를 정말 채울지가 의문이요 제목을 언제 다 채우냐 이거 너무 길다</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://cdn.pixabay.com/photo/2022/01/08/19/51/christmas-tree-6924746__340.jpg" class="card-image springnote-img-thumbnail springnote-img-thumbnail-mini rounded" alt="...">
                <div class="card-img-overlay">
                    <p class="card-text"><small class="text-muted">2022-12-30</small></p>
                    <h6 class="card-title springnote-color-light_brown springnote-fonts-line-seed-thin rounded">시리즈 | Spring Note 개발 일지</h6>
                    <hr>
                    <h5 class="card-title springnote-fonts-line-seed-reg">제목이 50자까지 입력가능한데 이 50자를 정말 채울지가 의문이요 제목을 언제 다 채우냐 이거 너무 길다</h5>
                </div>
            </div>
        </div>
    </div>

</div>


<th:block th:replace="fragments/scripts :: scripts" />

</body>

</html>